<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/activeUser.css">
</head>
<body>

    <table>
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>isLoggedIn</th>
        </thead>

        <tbody>
            <% user.forEach((d)=>{%>
                <tr>
                    <td><%= d.name %></td>
                    <td><%= d.email %></td>
                    <td><%= d.isLoggedIn %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>